.green-nav-bar{
    background-color:#009933!important;
}
.nav-link-black{
    color:black;
    font-weight: bold;
    padding: 0.5em;
}
.lateral-item{
    color:black;
    font-weight: bold;
    padding-top:1.5em;
}
