{% extends 'adm_layout.html' %}
{% block title %}TechWorkd-Produto{% endblock %}
{% block bodytitle %}Produtos{% endblock %}
{% block path %}Produtos{% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Produtos Cadastrados</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <a type="button" class="btn btn-primary" style="float:left" href="{{ url_for('adm_produto_add') }}">Adicionar Produto</a>
                  <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                    <th>Categoria</th>
                    <th>Descrição</th>
                  </tr>
                </thead>
                <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>R${{ produto.preco }}</td>
                        <td>{{ produto.estoque }}</td>
                        <td>{{ produto.categoria }}</td>
                        <td>{{ produto.descricao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                    <th>Categoria</th>
                    <th>Descrição</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
{% endblock %}
{% block js %}
<!-- Datatables -->
<script src="./static/js/jquery.dataTables.min.js"></script>
<script src="./static/js/dataTables.bootstrap4.min.js"></script>
<script src="./static/js/dataTables.buttons.min.js"></script>
<script src="./static/js/buttons.bootstrap4.min.js"></script>
<script src="./static/js/buttons.html5.min.js"></script>
<script src="./static/js/buttons.print.min.js"></script>
<script src="./static/js/buttons.colVis.min.js"></script>
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "oLanguage":{
          "sEmptyTable": "Nenhum registro encontrado",
          "sInfo": "Mostrando de _START_ até _END_, de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
          "sInfoFiltered": "(Filtrados de _MAX_ registros)",
          "sInfoPostFix": "",
          "sInfoThousands": ".",
          "sLengthMenu": "_MENU_ resultados por página",
          "sLoadingRecords": "Carregando...",
          "sProcessing": "Processando...",
          "sZeroRecords": "Nenhum registro encontrado",
          "sSearch": "Pesquisar",
          "oPaginate": {
              "sNext": "Próximo",
              "sPrevious": "Anterior",
              "sFirst": "Primeiro",
              "sLast": "Último"
          },
      }
      });
    });
  </script>
{% endblock %}
